* {
    margin: 0;
    padding: 0;
}

/* ####################################################################### */

.profile_nav {
    height: 50px;
    background-color: black;
    color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* ####################################################################### */

.nav_links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}

/* ####################################################################### */

.btn {
    height: 30px;
    width: 70px;
    margin: 10px;
    background-color: lightblue;
}

/* ####################################################################### */

.nav_links a {
    color: lightblue;
}

/* ####################################################################### */

.main_left_top {
    height 50px;
    background-color: lightgrey;
    width: 300px;
}

/* ####################################################################### */

.main_left_top img {
    height: 50px;
}

/* ####################################################################### */






/* ####################################################################### */




/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */