* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ####################################################################### */

.profile_nav {
    height: 50px;
    background-color: black;
    color: lightblue;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

/* ####################################################################### */

.nav_links {
    color: whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    list-style-type: none;
}

/* ####################################################################### */

.btn {
    height: 30px;
    width: 70px;
    margin: 10px;
    background-color: lightblue;
}

/* ####################################################################### */

.nav_links a {
    color: lightblue;
}

/* ####################################################################### */

.main_left_top {
    background-color: lightgrey;
    width: 300px;
    margin-left: 20px;
}

/* ####################################################################### */

.main_left_top img {
    height: 50px;
    border-radius: 50%;
}

/* ####################################################################### */




/* ####################################################################### */

.jane_doe_main {
    background-color: black;
    color: lightgrey;
    height: 200px;
    width: 300px;
    margin-left: 20px;
}




/* ####################################################################### */




/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */
/* ####################################################################### */